@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');

.jura{
    font-family: 'Jura', sans-serif;
}
.lexend{
    font-family: 'Lexend Exa', sans-serif;
}
.bg-map{
    background-image: url(../assets/image/map.svg);
}
